html, body{
    height: 100%;
    width: 100%;
    background: black;
}

button{
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(0,0,0,3) 100%); 
    width: 150px;
}

img:hover{
    
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(0,0,0,3) 100%);
    opacity: 0.5;
}

